<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiple Files Upload</title>
    <style>
        .flashes{
        color:green;
        font-style:italic;
        }
    </style>
</head>
<body>

</p>
<p style = "margin-bottom:20px;">
<h1 style = "background-color:tomato;">Hello, welcome to AAIK</h1>
You can upload pdf file(s) to get the required content.<br />
</p>
    <fieldset>

<legend><h2>Select File(s) to upload</h2></legend>
<form method="post" action="/" enctype="multipart/form-data">
<div style = "font-size:20px; font-weight:bold; margin-left:150px;">
    <dl>
        <p>
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>


        </p>

    </dl>
    <p>
        <input type="submit" value="Submit">



  </p>
    </div>
</fieldset>
</form>
<p>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
    <li> {{message}}</li>
    <form action="/text" method="post" class="form1">
<p>
    <input type="submit" value="Check Content" formaction="/text">
</p></form>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</body>
</html>
